
.login{
    display: inline-flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 2em;
    min-height: 30vh;
    max-width: 70vw;
    background-color: rgb(209, 209, 209);
}